<!-- app/templates/add_todo.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Add Todo</h2>
<form method="POST" action="{{ url_for('todos.add_todo') }}">
    {{ form.hidden_tag() }}
    <label for="title">Title:</label>
    {{ form.title(class="form-control") }}
    <label for="description">Description:</label>
    {{ form.description(class="form-control") }}
    {{ form.submit(class="btn btn-primary") }}
  </form>
<a href="{{ url_for('todos.todos') }}">Back to Todos</a>
{% endblock %}
