<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Лабораторна робота 3 (портфоліо){% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Про мене</a></li>
            <li><a href="{{ url_for('page2') }}">Проєкти</a></li>
            <li><a href="{{ url_for('page3') }}">Контакти</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        Операційна система: {{ os_info }}<br>
        User Agent: {{ user_agent }}<br>
        Поточний час: {{ current_time }}
    </footer>
</body>

</html>
