{% extends 'base.html' %}

{% block title %}Сторінка 1{% endblock %}

{% block content %}
<h2>Login</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
   <form method="post" action="{{ url_for('login') }}">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Увійти">
</form>
{% endblock %}