{% extends 'base.html' %}

{% block title %}Skills{% endblock %}

{% block content %}
    <h1>Навички</h1>
    <p>Тут ви можете знайти мої навички та уміння.</p>
    <ul>
        {% for skill in my_skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <h2>Пошук навичок</h2>
    <form action="{{ url_for('display_skills') }}" method="post">
        <div class="form-group">
            <input type="text" name="skill_name" placeholder="Назва навички" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Пошук</button>
    </form>
</div>
{% endblock %}

